################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test.API/Test.API/obj
/Test.API/.vs/Test.API/FileContentIndex
