################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test.API/Test.API/obj
/Test.API/.vs/Test.API/FileContentIndex
/Test.API/Test.API/bin/Debug/net8.0
/Test.Mobile/.vs/Test.Mobile
/OnlineShop.Mobile/.vs/OnlineShop.Mobile
/OnlineShop.Mobile/OnlineShop.App/bin/Debug
/OnlineShop.Mobile/OnlineShop.App/obj
